/* ===== BACKGROUND GRID ===== */
.pattern {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 2;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.pattern .shape {
  width: 100%;
  height: 150px;
  background: #fbbc05;
  clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
  transition: transform 0.6s ease-in-out;
}

/* Hover animation */
.pattern .shape:hover {
  transform: rotate(90deg);
}
